// ==========================================================================
// Components
//
// This is an import af all component CSS we use from Calypso.
// Please keep these imports sorted and use specificity to ensure that
// stylesheet order does not matter.
// ==========================================================================

@import 'main';
@import 'variables';
@import 'mixins';
@import 'components/accordion/style';
@import 'components/card/style';
@import 'components/notice/style';
@import 'components/forms/form-label/style';
@import 'components/forms/form-select/style';
@import 'components/forms/form-text-input/style';
@import 'components/forms/form-text-input-with-affixes/style';
@import 'components/gridicon/style';
@import 'components/tooltip/style';
@import 'components/button/style';
@import 'components/search/style';
@import 'components/search-card/style';
@import 'components/section-nav/style';
@import 'components/tooltip/style';
@import 'layout/sidebar/style';
@import '../../client/calypso/layout/sidebar/override';

// TODO: Remove these defaults when they're no longer needed.
//       They were put in place because of an "Undefined Variable" error
//       that the sass-loader was giving us on build.
$opposite-side: "PLACEHOLDER";
$cross-side: "PLACEHOLDER";
$cross-opposite-side: "PLACEHOLDER";
@import 'components/popover/style';
