$purple:                #96588A;
$dark-gray:             #3A373A;
$gray:                  #6C696A;
$light-gray:            #DFDFDF;
$lighter-gray:          #E7E7E7;
$gray-border:           #DCDCDC;
$gray-border-lighter:   #F3F3F3;