.product-list {
}

.product-list__header {
}

.product-list__body {
	margin-top: 25px;

	.search-card {
		margin-bottom: 1px;
	}
}

.product-list__list-table {
	padding: 0;
}

.product-list__list {
	margin: 0;
	list-style: none;
}

.product-list__list-row {
	display: flex;
	width: 100%;
	padding: 25px;
	border-bottom: 1px solid lighten( $gray, 30% );
	box-sizing: border-box;
}

.product-list__list-row-header {
	border-bottom-color: lighten( $gray, 20% );
	font-weight: bold;
}

.product-list__list-cell {
	flex: 1;
	flex-direction: column;
	max-width: 10%;
}

.product-list__list-cell-name {
	max-width: none;
}

