.product-list {
}

.product-list__header {
}

.product-list__body {
	margin-top: 24px;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;

	.search-card {
		margin-bottom: 1px;
		max-width: none;
	}
}

.product-list__list-table {
	padding: 0;
	max-width: none;
}

.product-list__list {
	margin: 0;
	list-style: none;
}

.product-list__list-row {
	display: flex;
	width: 100%;
	padding: 24px;
	border-bottom: 1px solid $light-gray;
	box-sizing: border-box;
}

.product-list__list-row-header {
	border-bottom-color: lighten( $gray, 10% );
	font-weight: bold;
}

.product-list__list-cell {
	flex: 1;
	flex-direction: column;
	max-width: 10%;
	padding: 10px;
}

.product-list__list-cell-name {
	max-width: none;
}

.column-menu__list {
	list-style: none;
}

.column-menu__row {
	padding: 1em;
}

.column-menu__group-label {
	display: inline;
	padding: 0.5em;
	text-align: left;
	vertical-align: middle;
}

.column-menu__button {
	display: inline;
	padding: 0.5em;
	vertical-align: middle;

	&.selected {
		background: $dark-gray;
		color: white;

		&:hover {
			background: $gray;
			color: white;
		}
	}

	&.unselected {
		background: white;
		color: $dark-gray;
	}
}

